# dependencies
/node_modules
/.pnp
.pnp.*

# next.js
/.next/
/out/

# misc
.DS_Store
*.pem
npm-debug.log*
.pnpm-debug.log*

# env
.env*
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

deploy-out.txt
